:root {
  --dark-grey: #161616;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: var(--dark-grey);
  font-family: Relative, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  color: var(--dark-grey);
  letter-spacing: -2.4px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 72px;
  font-weight: 500;
  line-height: 80px;
}

h2 {
  letter-spacing: -1.92px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
}

h3 {
  letter-spacing: -1.68px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
}

h4 {
  letter-spacing: -.64px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

h5 {
  letter-spacing: -.48px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

h6 {
  letter-spacing: .8px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

p {
  letter-spacing: -.32px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.nav-text-hover {
  color: #0a0a0a;
  letter-spacing: .28px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.button {
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  transition: all .4s;
}

.button:hover {
  background-color: #161616;
  transform: translate(0, -2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.button.right-24 {
  margin-right: 24px;
}

.button.button-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.button.button-white.small {
  padding: 12px 24px;
  font-size: 14px;
}

.button.button-white.small.wide-button {
  padding-left: 32px;
  padding-right: 32px;
}

.button.secondary {
  color: #000;
  background-color: #fff;
}

.button.secondary:hover {
  background-color: rgba(0, 0, 0, .15);
}

.button.secondary.small {
  text-align: center;
  flex: 1;
  padding: 12px 24px;
  font-size: 14px;
  text-decoration: none;
}

.button.secondary.small.nav-cta {
  z-index: 2000;
  flex: 0 auto;
}

.button.secondary.small.nav-cta.hide {
  display: none;
}

.button.secondary.button-white {
  color: #fff;
  background-color: #0a0a0a;
}

.button.secondary.button-white.right-32:hover {
  background-color: rgba(255, 255, 255, .05);
}

.button.secondary.right-32:hover {
  background-color: rgba(22, 22, 22, .15);
}

.button.right-32 {
  margin-right: 32px;
}

.navbar-version-1 {
  z-index: 100;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.text-purple {
  color: #6248ff;
}

.layer-blur-cta {
  width: 400px;
  height: 400px;
  filter: blur(95px);
  background-image: linear-gradient(132deg, #ff4848, #ff7448 41%, #6248ff 75%);
  border-radius: 500px;
  align-self: center;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.paragraph-l {
  letter-spacing: -.48px;
  font-size: 24px;
}

.paragraph-l.margin-l.max-560w {
  max-width: 560px;
}

.text-white {
  color: #fff;
}

.text-white.h6-smaller {
  letter-spacing: .7px;
  font-size: 14px;
  line-height: 22px;
}

.multi-button-wrapper {
  align-items: center;
  display: flex;
}

.text-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
}

.text-link.text-white {
  color: #fff;
  cursor: pointer;
  flex-wrap: nowrap;
  display: inline-block;
}

.text-link.text-white.right-32 {
  margin-right: 32px;
}

.nav-link {
  color: #000;
  letter-spacing: .7px;
  text-transform: uppercase;
  padding: 16px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.nav-link.footer {
  color: rgba(255, 255, 255, .75);
  padding: 12px 0;
  transition: color .3s;
  display: block;
}

.nav-link.footer:hover {
  color: #fff;
}

.menu-nav-wrap {
  width: 100%;
}

.margin-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-centred {
  text-align: center;
}

.text-centred.max-800w {
  max-width: 800px;
}

.text-centred.margin-xxl {
  margin-bottom: 80px;
}

.badge-text {
  color: #000;
  letter-spacing: .6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-decoration: none;
}

.badge-text.text-grey {
  color: rgba(0, 0, 0, .75);
}

.badge-text.text-white {
  color: #fff;
}

.home {
  width: 124px;
  height: 33.33px;
  position: relative;
}

.paragraph-m {
  letter-spacing: -.4px;
  font-size: 20px;
}

.paragraph-m.text-centred {
  margin-bottom: 24px;
}

.paragraph-m.text-centred.margin-l {
  margin-bottom: 40px;
}

.paragraph-m.max-640w {
  max-width: 640px;
}

.paragraph-m.max-560w {
  max-width: 560px;
}

.close-button {
  width: 40px;
  height: 40px;
  background-color: #161616;
  border: 2px solid #fff;
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 24px;
  bottom: auto;
  left: auto;
  right: 40px;
}

.menu-container {
  z-index: 1000;
  width: 560px;
  background-color: #161616;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 104px 64px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: scroll;
}

.section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.section.cta {
  background-color: #0a0a0a;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.section.light-purple {
  background-color: #f5f3ff;
}

.section.black {
  background-color: #0a0a0a;
}

.section.black.confirmation-page {
  height: 100vh;
  padding-top: 180px;
  display: flex;
}

.section.light-orange {
  background-color: #fff3ef;
}

.section.footer {
  z-index: 0;
  background-color: #0a0a0a;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.section.grain {
  background-image: url('../images/Grain_Latest.png');
  background-position: 0 0;
  background-size: 300px 300px;
}

.section.grain.top-140 {
  padding-top: 140px;
}

.section.grain.padding-top-40 {
  padding-top: 40px;
}

.section.grain.subpage-hero {
  padding-top: 160px;
}

.background-blur-wrapper {
  z-index: -5;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.background-blur-wrapper.overflow-hidden {
  overflow: hidden;
}

.text-orange {
  color: #ff7448;
}

.nav-link-text-large {
  flex-direction: column;
  line-height: 56px;
  text-decoration: none;
  transition: all .4s;
}

.nav-link-text-large:hover {
  color: rgba(255, 255, 255, .75);
  transform: translate(8px);
}

.nav-text {
  color: #0a0a0a;
  letter-spacing: .28px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.nav-text.text-white {
  color: #fff;
}

.example-block {
  width: 560px;
  height: 80px;
  border: 3px solid #ff7448;
  justify-content: center;
  align-items: center;
  display: flex;
}

.example-block.margin-s {
  margin-bottom: 16px;
}

.example-block.margin-m {
  margin-bottom: 24px;
}

.example-block.margin-xl {
  margin-bottom: 56px;
}

.example-block.margin-xxl {
  margin-bottom: 80px;
}

.example-block.margin-xs {
  margin-bottom: 12px;
}

.example-block.margin-l {
  margin-bottom: 40px;
}

.nav-text-wrap {
  height: 20px;
  text-decoration: none;
  overflow: hidden;
}

.nav-link-dope-edition {
  padding: 16px;
  text-decoration: none;
}

.nav-link-dope-edition.right-32 {
  margin-right: 16px;
}

.badge {
  background-color: #d8d5d1;
  border-radius: 8px;
  padding: 6px 8px;
  display: inline-block;
}

.badge.bg-white {
  background-color: #fff;
}

.badge.light-grey {
  background-color: rgba(255, 255, 255, .15);
}

.badge.light-grey.wrap {
  margin-bottom: 8px;
  margin-right: 8px;
}

.badge.yolo-media {
  background-color: #deeffa;
}

.badge.good-housing {
  background-color: #d4eff0;
}

.badge.laura-avery {
  background-color: #e9e5dd;
}

.margin-m {
  margin-bottom: 24px;
}

.main-nav-link {
  color: #fff;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-decoration: none;
  display: block;
}

.main-nav-link.margin-s {
  display: block;
}

.blur-background {
  background-color: rgba(22, 22, 22, .1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.container {
  z-index: 2;
  width: 90%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.container.small {
  max-width: 920px;
}

.container.small.flex-vertical {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container.small.flex {
  justify-content: flex-start;
  align-items: flex-start;
}

.container.centred {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container.centred.full-width {
  align-items: stretch;
}

.container.grid {
  z-index: 5;
  height: 96px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.container.static {
  position: static;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-light-grey {
  color: rgba(255, 255, 255, .65);
}

.margin-s {
  margin-bottom: 16px;
}

.margin-xs {
  margin-bottom: 12px;
}

.margin-xs._100-w {
  width: 100%;
}

.margin-l {
  margin-bottom: 40px;
}

.margin-xl {
  margin-bottom: 56px;
}

.margin-xxl {
  margin-bottom: 80px;
}

.process-image {
  width: 240px;
  height: 240px;
  background-image: url('../images/Process_step_background.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.step {
  min-width: 120px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.project-title-wrap {
  align-items: center;
  display: flex;
}

.project-spec-figma-wrap {
  width: 100%;
  height: 520px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.process-wrapper {
  position: relative;
}

.price-text {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.figma-embed-wrapper {
  width: 100%;
  height: auto;
  border: 2px solid #161616;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-area {
  min-height: 120px;
  color: #fff;
  background-color: rgba(255, 255, 255, .05);
  border: 2px solid rgba(255, 255, 255, .05);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-area:hover {
  border-color: rgba(255, 255, 255, .25);
}

.text-area:focus {
  background-color: rgba(255, 255, 255, 0);
  border-color: #fff;
}

.text-area.larger {
  min-height: 160px;
}

.text-area.larger.margin-l {
  padding-top: 12px;
  padding-bottom: 12px;
}

.text-area.margin-l {
  transition: all .4s;
}

.client-quote {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
}

.relume-logo-primary-white {
  z-index: 0;
  color: #fff;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.step-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-info-wrapper.step-5 {
  margin-bottom: 0;
}

.image-5 {
  width: 32px;
  height: 32px;
}

.benefits-wrapper-2 {
  flex-direction: column;
  align-items: flex-start;
}

.relume-logo-secondary-black {
  z-index: 1;
  color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-2-small {
  font-size: 56px;
  line-height: 64px;
}

.img-24 {
  width: 24px;
}

.img-24.right-12 {
  margin-right: 12px;
}

.aud {
  font-size: 14px;
  line-height: 22px;
}

.capabilities-wrap {
  width: 45%;
}

.success-message {
  background-color: rgba(255, 255, 255, .15);
  border-radius: 16px;
  padding: 24px;
}

.benefits-icon {
  margin-bottom: 16px;
  margin-right: 0;
}

.step-wrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.tab-link {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 8px 0;
}

.tab-link.w--current {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: #161616;
  transition: all .3s;
}

.tab-link.right-32, .tab-link.right-32.w--current {
  margin-right: 32px;
}

.footer-credits {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.pricing-table-text {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.pre-loader {
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.profile-bg-colour {
  width: 100%;
  background-color: #d8d5d1;
  border-radius: 12px;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.tick._0-opacity {
  opacity: 0;
}

.wrapper {
  position: relative;
}

.wrapper.flex-vertical {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.wrapper.footer-logo {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.wrapper._16-margins {
  margin: 16px;
}

.profile-button-wrap {
  align-items: flex-start;
  display: flex;
}

.grid-2-col {
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.fixed-cta {
  z-index: 500;
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  background-color: #0a0a0a;
  border: 2px solid #000;
  border-radius: 8px;
  align-items: center;
  padding: 12px 20px 12px 18px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: all .4s;
  display: flex;
  position: fixed;
  top: 24px;
  right: 5vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.fixed-cta:hover {
  transform: translate(0, -2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.fixed-cta.migration {
  padding-left: 24px;
  padding-right: 24px;
}

.lock-icon {
  width: 24px;
  height: 24px;
  margin-top: 1px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 16px;
  right: 16px;
}

.form-2-col {
  width: 100%;
  grid-column-gap: 24px;
  grid-template-rows: auto;
}

.button-icon {
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  transition: all .4s;
  display: flex;
}

.button-icon:hover {
  background-color: #161616;
  transform: translate(0, -2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.button-icon.secondary {
  color: #000;
  background-color: #fff;
}

.button-icon.secondary:hover {
  background-color: #c2c0bc;
}

.button-icon.secondary.small {
  text-align: center;
  flex: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}

.button-icon.secondary.small.visit-live {
  margin-left: 16px;
}

.button-icon.secondary.small.visit-live.project-spec {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 16px;
}

.field-label {
  width: 100%;
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.pricing-thirds {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.name-arrow {
  z-index: 20;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 64px;
}

.name-arrow.adam {
  left: auto;
  right: 64px;
}

._4-col-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.page-wrapper {
  overflow: hidden;
  transform: translate(0);
}

.relume-logo-secondary {
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.export-icon {
  width: 24px;
  height: 24px;
  margin-top: 1px;
  display: none;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 16px;
  right: 16px;
}

.export-icon.project-spec {
  margin-top: 0;
  display: block;
  position: static;
}

.navbar-container {
  z-index: 2;
  width: 90%;
  max-width: 1360px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.navbar-container.navbar-container-confirmation-page {
  grid-template-columns: 2.25fr;
  justify-items: center;
}

.faq-arrow {
  width: 28px;
  margin-right: 0;
}

.comparison-img---desktop {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.comparison-img---desktop.img-2 {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.comparison-img---desktop.img-3 {
  z-index: 3;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.page-type-text {
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.rr-peeps {
  width: 100%;
}

.pricing-row {
  border-top: 1px solid rgba(255, 255, 255, .15);
  border-bottom: 1px rgba(255, 255, 255, .15);
  grid-template-rows: auto;
  grid-template-columns: .5fr 1.25fr;
  padding-top: 16px;
  padding-bottom: 16px;
}

.pricing-row.pricing-header {
  border-top-style: none;
  padding-top: 0;
  padding-bottom: 40px;
}

.rr-text-wrapper {
  width: 55%;
  margin-right: 40px;
}

.profile-wrapper {
  width: 100%;
  background-color: #fff;
  border: 2px solid #161616;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  display: flex;
}

.step-heading {
  color: #fff;
}

.project-spec-webflow-wrap {
  width: 100%;
  height: 520px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.faq-answer {
  margin-top: 24px;
  margin-left: 0;
}

.circle-blur-bottom-right-2 {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(132deg, #ff7448 26%, #ff4848 51%, #6248ff 75%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -15%;
  left: auto;
  right: 0%;
}

.circle-blur-bottom-right-2.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.circle-blur-middle-left {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(59deg, #ff7448 27%, #ff4848 50%, #6248ff 75%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 30%;
  bottom: auto;
  left: 5%;
  right: auto;
}

.circle-blur-middle-left.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.comparison-img---mobile {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: relative;
}

.footer-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: flex;
}

.center-div {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.center-div.max-720w {
  max-width: 720px;
}

.center-div.max-560w {
  max-width: 560px;
}

.center-div.max-800w {
  max-width: 800px;
}

.tabs-menu {
  justify-content: center;
  display: flex;
}

.tabs-menu.left-align {
  justify-content: flex-start;
}

.hero-grid {
  grid-column-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.loading-animation {
  width: 280px;
}

.project-spec-top {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.random-facts, .random-facts.dan {
  display: none;
}

.rr-details-wrap {
  align-items: center;
  margin-left: 40px;
  display: flex;
}

.with-underline {
  background-image: url('../images/underline.svg');
  background-position: 50% 115%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4px 2px 8px;
  display: inline-block;
}

.with-underline.long-underline {
  background-image: url('../images/Underline_long.svg');
  background-position: 50% 100%;
}

.text-field {
  height: 48px;
  color: #fff;
  background-color: rgba(255, 255, 255, .05);
  border: 2px solid rgba(255, 255, 255, .05);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.text-field:hover {
  border-color: rgba(255, 255, 255, .25);
}

.text-field:focus {
  background-color: rgba(255, 255, 255, 0);
  border-color: #fff;
}

.text-field.margin-s {
  transition: all .4s;
}

.navbar {
  z-index: 100;
  height: 96px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: translate(0);
}

.profile-photo {
  width: 90%;
  border-radius: 12px;
  align-self: flex-end;
  margin-top: 24px;
  transform: translate(0);
}

.rr-image {
  width: 192px;
  height: 192px;
  min-height: 192px;
  min-width: 192px;
  background-image: url('../images/RR-Bg.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.faq-wrapper {
  width: auto;
  max-width: 720px;
  border-top: 2px #161616;
}

.client-quote-wrap {
  width: 50%;
}

.relume-comparison-tab-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.faq-block {
  border: 2px solid #161616;
  border-style: solid none;
  margin-bottom: -2px;
  padding: 24px 0;
}

.circle-blur-bottom-left {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(334deg, #ff7448 18%, #ff4848 59%, #6248ff 86%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: block;
  position: absolute;
  top: auto;
  bottom: -10%;
  left: -5%;
  right: auto;
}

.circle-blur-bottom-left.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.step-number {
  z-index: 2;
  border: 8px #161616;
  border-left: 1px #000;
  border-right: 1px #000;
  position: relative;
  overflow: hidden;
}

.relume-logo-primary {
  z-index: 0;
  color: #000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.black-line {
  width: 2px;
  height: 72px;
  background-color: #0a0a0a;
  position: absolute;
  left: 19px;
  right: 20px;
}

.relume-roster-heading {
  color: #fff;
  letter-spacing: -.8px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 40px;
}

.form-wrapper {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.relume-roster-panel {
  background-color: #161616;
  border-radius: 16px;
  align-items: center;
  padding: 24px;
  display: flex;
}

.circle-blur-top-right-2 {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(132deg, #ff7448 35%, #ff4848 54%, #6248ff 80%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: -5%;
}

.circle-blur-top-right-2.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.form-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .15);
  margin-top: 32px;
  margin-bottom: 56px;
}

.grey-line {
  width: 2px;
  height: 82%;
  background-color: rgba(255, 255, 255, .15);
  position: relative;
}

.project-spec-name {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 32px;
}

.step-info {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-left: 24px;
  display: flex;
  position: static;
}

.timeline-wrapper {
  width: 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.personality-description {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  top: 5%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.webflow-embed {
  width: 200%;
  height: 870px;
  border-radius: 12px;
  margin-top: -175px;
  margin-left: -50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: scale(.6);
}

.rr-text {
  z-index: 5;
  color: #000;
  letter-spacing: .4px;
  margin: 0 8px;
  font-size: 11px;
  line-height: 20px;
}

.rr-peep {
  width: 100%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 100px;
  align-items: center;
  margin-bottom: 8px;
  padding: 2px;
  display: flex;
}

.figma-embed {
  width: 100%;
  height: 100%;
}

.faq-bottom {
  transform-origin: 50% 0;
  overflow: hidden;
}

.loading {
  z-index: 100;
  width: 120px;
  height: 120px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.circle-blur-top-left {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(132deg, #ff7448 35%, #ff4848 54%, #6248ff 80%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: block;
  position: absolute;
  top: -5%;
  bottom: auto;
  left: -5%;
  right: auto;
}

.circle-blur-top-left.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.pricing-row-spacer {
  height: 24px;
}

.circle-blur-bottom-right {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(132deg, #ff7448 26%, #ff4848 51%, #6248ff 75%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -15%;
  left: auto;
  right: 0%;
}

.circle-blur-bottom-right.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.hero-heading {
  max-width: 640px;
  position: relative;
}

.fixed-cta-container {
  z-index: 1000;
  width: 90%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  top: 24px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.error-message {
  color: #e01e1e;
  border-radius: 8px;
}

.success-message-text {
  color: #fff;
  text-align: left;
  font-family: Relative, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.project-spec-wrapper {
  width: 100%;
  background-color: #fff;
  border: 2px solid #161616;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  display: flex;
}

.white-line {
  width: 2px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.project-spec-tab-link {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  align-items: center;
  padding: 8px 0;
  display: flex;
}

.project-spec-tab-link:hover {
  opacity: 1;
}

.project-spec-tab-link.w--current {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: #161616;
  transition: all .3s;
}

.project-spec-tab-link.right-32, .project-spec-tab-link.right-32.w--current {
  margin-right: 32px;
}

.label-arrow {
  position: absolute;
  top: auto;
  bottom: 1%;
  left: 37%;
  right: 0%;
}

.label-arrow.on-t-m, .unlocked {
  display: none;
}

.features-text {
  color: #fff;
}

.circle-blur-top-left-2 {
  z-index: -1;
  width: 440px;
  height: 440px;
  filter: blur(100px);
  background-image: linear-gradient(132deg, #ff7448 27%, #ff4848 50%, #6248ff 79%);
  border-radius: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: block;
  position: absolute;
  top: -5%;
  bottom: auto;
  left: -5%;
  right: auto;
}

.circle-blur-top-left-2.safari {
  opacity: .97;
  filter: blur(64px) blur(64px);
}

.random-fact.adam-fact-1 {
  width: 121px;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: 5%;
  right: auto;
}

.random-fact.dan-fact-1 {
  width: 134px;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: 5%;
  right: auto;
}

.random-fact.dan-fact-2 {
  width: 146px;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: auto;
  right: 5%;
}

.random-fact.adam-fact-2 {
  width: 121px;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: auto;
  right: 5%;
}

.paragraph-s {
  font-size: 14px;
}

.pricing-table {
  background-color: #161616;
  border-radius: 16px;
  padding: 40px;
}

.unlock-icon {
  width: 24px;
  height: 24px;
  margin-top: 1px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 16px;
  right: 16px;
}

.faq-top {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.body {
  background-color: #d8d5d1;
}

.confirmation-heading-wrapper {
  color: #fff;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.confirmation-page-subheading {
  max-width: 560px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.image-9 {
  margin-right: 16px;
}

.image-9.invert {
  filter: invert();
}

.menu {
  z-index: 2000;
  display: none;
  position: relative;
}

.image-6 {
  width: 20px;
  height: 20px;
  filter: invert();
  margin-right: 12px;
}

.max-800w {
  max-width: 800px;
}

.step-1-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-1-info-wrapper.step-5 {
  margin-bottom: 0;
}

.step-2-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-2-info-wrapper.step-5 {
  margin-bottom: 0;
}

.step-3-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-3-info-wrapper.step-5 {
  margin-bottom: 0;
}

.step-4-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-4-info-wrapper.step-5 {
  margin-bottom: 0;
}

.step-5-info-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  flex: 1;
  align-items: center;
  padding: 24px;
  display: flex;
}

.step-5-info-wrapper.step-5 {
  margin-bottom: 0;
}

.step-1-number, .step-2-number, .step-3-number, .step-4-number, .step-5-number {
  z-index: 2;
  border: 8px #161616;
  border-left: 1px #000;
  border-right: 1px #000;
  position: relative;
  overflow: hidden;
}

.contact-button-footer {
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
}

.table-caption {
  color: rgba(255, 255, 255, .8);
  text-align: right;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.rl-cta_component {
  width: 100%;
  color: #fff;
  background-color: #1d1c1e;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 5%;
  display: flex;
}

.rl-cta_text-wrapper {
  margin-right: 1.5rem;
}

.button-2 {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 20rem;
  padding: .75rem 1.5rem;
  font-size: .875rem;
}

.button-2.button-small {
  padding: .5rem 1.25rem;
  font-size: .875rem;
}

.button-2.button-small.invert-colors {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
}

.button-2.button-small.invert-colors:hover {
  color: #1d1c1e;
  background-color: #fff;
}

.rl-cta_component-2 {
  width: 100%;
  background-color: #1d1c1e;
  justify-content: center;
  align-items: center;
  padding: 2rem 5%;
  display: flex;
}

.button-secondary {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 100px;
  padding: .75rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: all .2s;
}

.button-secondary:hover {
  border-color: #fff;
}

.button-secondary.button-small {
  padding: .5rem 1.25rem;
  font-size: 1rem;
}

.text-block {
  color: #fff;
}

.image-10 {
  height: 500px;
}

@media screen and (min-width: 1280px) {
  .text-white.h6-smaller {
    letter-spacing: .7px;
    font-size: 14px;
    line-height: 22px;
  }

  .home {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .profile-bg-colour {
    height: 610px;
  }

  .navbar-container {
    grid-template-areas: "Area";
  }

  .random-facts {
    display: none;
  }

  .profile-photo {
    max-width: 520px;
    margin-top: 24px;
  }

  .personality-description {
    top: 5%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .hero-heading {
    max-width: 720px;
    margin-bottom: 32px;
    position: static;
  }

  .label-arrow {
    bottom: 2%;
  }

  .random-fact.adam-fact-1 {
    position: absolute;
    top: 20%;
  }

  .random-fact.dan-fact-1, .random-fact.dan-fact-2, .random-fact.adam-fact-2 {
    top: 20%;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 48px;
    line-height: 56px;
  }

  .button.hide-on-t-m {
    display: none;
  }

  .paragraph-l {
    font-size: 20px;
  }

  .multi-button-wrapper {
    z-index: 1;
    position: relative;
  }

  .text-centred.margin-xxl {
    margin-bottom: 64px;
  }

  .paragraph-m {
    font-size: 18px;
  }

  .paragraph-m.max-560w.margin-l.margin-0-t-m {
    margin-bottom: 0;
  }

  .section {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .section.cta {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.grain.top-140, .section.grain.subpage-hero {
    padding-top: 120px;
  }

  .example-block.margin-xxl {
    margin-bottom: 64px;
  }

  .blur-background {
    display: block;
  }

  .container.small.flex {
    width: 100%;
    max-width: none;
  }

  .nav-menu {
    display: none;
  }

  .margin-xxl {
    margin-bottom: 64px;
  }

  .step {
    min-width: auto;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: -19px;
    bottom: auto;
    left: 24px;
    right: auto;
  }

  .project-title-wrap {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .tab-pane-without-relume {
    width: 100%;
    min-width: 100%;
  }

  .figma-embed-wrapper {
    max-width: none;
  }

  .text-area.larger.margin-l {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .step-info-wrapper {
    align-items: flex-start;
  }

  .heading-2-small {
    font-size: 56px;
    line-height: 64px;
  }

  .capabilities-wrap {
    width: 100%;
  }

  .pre-loader {
    display: none;
  }

  .grid-2-col.margin-l {
    grid-row-gap: 5vw;
    grid-template-columns: 1fr;
  }

  .fixed-cta {
    position: static;
    top: 16px;
  }

  .tab-pane-with-relume {
    width: 100%;
    min-width: 100%;
  }

  ._4-col-grid {
    grid-row-gap: 56px;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-container {
    display: flex;
  }

  .navbar-container.navbar-container-confirmation-page {
    justify-content: center;
  }

  .comparison-img---desktop {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .page-type-text {
    line-height: 28px;
  }

  .rr-text-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }

  .circle-blur-bottom-right-2 {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(64px);
  }

  .circle-blur-bottom-right-2.safari {
    filter: blur(68px);
  }

  .circle-blur-middle-left {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(64px);
    top: 20%;
  }

  .circle-blur-middle-left.safari {
    opacity: .8;
    filter: blur(68px);
  }

  .comparison-img---mobile {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .center-div.margin-xxl {
    margin-bottom: 72px;
  }

  .hero-grid {
    grid-row-gap: 56px;
    grid-template-columns: 1fr;
  }

  .hero-content-wrap.design-to-webflow {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .project-spec-top.margin-m {
    flex-direction: column;
  }

  .rr-details-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .with-underline {
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .navbar {
    height: 80px;
  }

  .profile-photo {
    max-width: 480px;
  }

  .client-quote-wrap {
    width: 100%;
  }

  .circle-blur-bottom-left {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(64px);
    background-image: linear-gradient(132deg, #ff7448 31%, #ff4848 57%, #6248ff 79%);
    display: block;
    right: auto;
  }

  .circle-blur-bottom-left.safari {
    opacity: .7;
    filter: blur(68px);
  }

  .black-line {
    display: none;
  }

  .relume-roster-panel {
    align-items: flex-start;
  }

  .circle-blur-top-right-2 {
    width: 400px;
    height: 400px;
    opacity: .7;
    filter: blur(68px);
    background-image: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
    display: block;
  }

  .circle-blur-top-right-2.safari {
    opacity: .7;
    filter: blur(68px);
  }

  .timeline-wrapper {
    display: none;
  }

  .webflow-embed {
    width: 125%;
    margin-top: -88px;
    margin-left: -12.5%;
    transform: scale(.8);
  }

  .circle-blur-top-left {
    width: 400px;
    height: 400px;
    opacity: .7;
    filter: blur(68px);
    background-image: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
    display: block;
    top: -10%;
    right: -5%;
  }

  .circle-blur-top-left.safari {
    filter: blur(68px);
  }

  .circle-blur-bottom-right {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(64px);
    bottom: 0%;
  }

  .circle-blur-bottom-right.safari {
    opacity: .7;
    filter: blur(68px);
  }

  .hero-heading {
    position: relative;
  }

  .fixed-cta-container {
    z-index: 1000;
    justify-content: flex-end;
    display: flex;
    top: 16px;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .label-arrow {
    top: 30%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .label-arrow.on-d {
    display: none;
  }

  .label-arrow.on-t-m {
    max-width: 100%;
    margin-top: 40px;
    display: block;
    position: static;
    top: auto;
    left: auto;
  }

  .circle-blur-top-left-2 {
    width: 400px;
    height: 400px;
    opacity: .7;
    filter: blur(68px);
    background-image: linear-gradient(285deg, #ff7448 29%, #ff4848 58%, #6248ff 80%);
    display: block;
    top: -10%;
    right: -5%;
  }

  .circle-blur-top-left-2.safari {
    opacity: .7;
    filter: blur(68px);
  }

  .confirmation-page-subheading {
    font-size: 20px;
  }

  .image-9 {
    width: 48px;
  }

  .step-1-info-wrapper, .step-2-info-wrapper, .step-3-info-wrapper, .step-4-info-wrapper, .step-5-info-wrapper {
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 36px;
    line-height: 44px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .button {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
  }

  .text-white.text-centred.margin-m, .text-link.text-light-grey.privacy-policy {
    margin-bottom: 16px;
  }

  .text-centred.margin-xxl {
    margin-bottom: 48px;
  }

  .paragraph-m.text-white.margin-m {
    margin-bottom: 16px;
  }

  .close-button {
    right: 24px;
  }

  .menu-container {
    width: 100%;
    padding: 80px 5vw;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section.cta {
    padding-top: 64px;
    padding-bottom: 0;
  }

  .example-block.margin-xl {
    margin-bottom: 48px;
  }

  .example-block.margin-xxl {
    margin-bottom: 56px;
  }

  .container.small.flex-vertical {
    width: 100%;
  }

  .margin-xl {
    margin-bottom: 48px;
  }

  .margin-xxl {
    margin-bottom: 56px;
  }

  .heading {
    font-size: 24px;
    line-height: 32px;
  }

  .heading-2 {
    font-size: 20px;
    line-height: 28px;
  }

  .process-image {
    width: 100%;
    background-image: url('../images/Process-Image-Background-Mobile_1.png');
    background-size: cover;
    margin-bottom: 24px;
  }

  .step {
    left: 16px;
  }

  .project-title-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-spec-figma-wrap {
    height: 480px;
  }

  .price-text {
    font-size: 22px;
    line-height: 28px;
  }

  .figma-embed-wrapper {
    height: 480px;
  }

  .client-quote {
    font-size: 18px;
    line-height: 28px;
  }

  .step-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .heading-2-small {
    font-size: 40px;
    line-height: 48px;
  }

  .footer-credits {
    flex-direction: column-reverse;
  }

  .pre-loader {
    display: none;
  }

  .wrapper._16-margins {
    margin: 0;
  }

  .grid-2-col.margin-l {
    grid-row-gap: 24px;
    margin-bottom: 24px;
  }

  .form-2-col {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .button-icon.secondary.small.visit-live {
    flex: 0 auto;
    padding: 10px;
  }

  .name-arrow {
    width: 72px;
  }

  .name-arrow.adam {
    top: 64px;
    right: 40px;
  }

  .name-arrow.dan {
    top: 64px;
    left: 40px;
  }

  .export-icon {
    display: block;
    position: static;
  }

  .comparison-img---desktop {
    margin-left: 0;
    margin-right: 0;
    display: none;
  }

  .page-type-text {
    font-size: 20px;
    line-height: 24px;
  }

  .pricing-row {
    grid-template-columns: 1.25fr;
  }

  .profile-wrapper {
    padding: 16px;
  }

  .step-heading.margin-xs {
    margin-bottom: 8px;
  }

  .project-spec-webflow-wrap {
    height: 480px;
  }

  .circle-blur-bottom-right-2 {
    width: 280px;
    height: 280px;
    filter: blur(60px);
    bottom: 5%;
  }

  .circle-blur-bottom-right-2.safari {
    filter: blur(64px);
  }

  .circle-blur-middle-left {
    width: 280px;
    height: 280px;
  }

  .circle-blur-middle-left.safari {
    opacity: .9;
    filter: blur(64px);
  }

  .comparison-img---mobile {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .footer-wrapper.margin-xl {
    grid-template-columns: 3fr;
  }

  .center-div.margin-xxl {
    margin-bottom: 64px;
  }

  .loading-animation {
    width: 240px;
    margin-top: -80px;
  }

  .random-facts.dan, .random-facts.adam {
    display: none;
  }

  .rr-details-wrap {
    margin-left: 0;
  }

  .with-underline {
    background-position: 50% 110%;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  .profile-photo {
    max-width: 400px;
    margin-top: 48px;
  }

  .profile-photo.dan {
    margin-left: -8px;
    padding-left: 0;
  }

  .rr-image {
    width: 100%;
    background-image: url('../images/Process-Image-Background-Mobile.png');
    margin-bottom: 24px;
  }

  .faq-wrapper {
    padding-right: 0;
  }

  .circle-blur-bottom-left {
    width: 280px;
    height: 280px;
    opacity: .9;
    filter: blur(60px);
    background-image: linear-gradient(132deg, #ff7448 29%, #ff4848 52%, #6248ff 75%);
    left: -20%;
  }

  .circle-blur-bottom-left.safari {
    opacity: .9;
    filter: blur(64px);
  }

  .relume-roster-panel {
    flex-direction: column;
    padding: 16px;
  }

  .circle-blur-top-right-2 {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(68px);
    top: 2%;
  }

  .circle-blur-top-right-2.safari {
    opacity: .9;
    filter: blur(64px);
  }

  .form-divider {
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .project-spec-name {
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .step-info {
    margin-left: 0;
  }

  .personality-description {
    font-size: 16px;
  }

  .circle-blur-top-left {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(68px);
  }

  .pricing-row-spacer {
    display: none;
  }

  .circle-blur-bottom-right {
    width: 280px;
    height: 280px;
    filter: blur(60px);
  }

  .circle-blur-bottom-right.safari {
    opacity: .9;
    filter: blur(64px);
  }

  .project-spec-wrapper {
    padding: 16px;
  }

  .label-arrow.on-t-m {
    width: 128px;
    top: 32%;
  }

  .features-text {
    font-size: 14px;
    line-height: 22px;
  }

  .circle-blur-top-left-2 {
    width: 320px;
    height: 320px;
    opacity: .9;
    filter: blur(68px);
  }

  .circle-blur-top-left-2.safari {
    opacity: .9;
    filter: blur(64px);
  }

  .random-fact.adam-fact-1 {
    width: 96.8px;
  }

  .random-fact.dan-fact-1 {
    width: 107.2px;
  }

  .random-fact.dan-fact-2 {
    width: 116.8px;
  }

  .random-fact.adam-fact-2 {
    width: 96.8px;
  }

  .pricing-table {
    padding: 32px 24px;
  }

  .confirmation-heading-wrapper {
    margin-bottom: 16px;
  }

  .image-9 {
    width: 40px;
  }

  .menu {
    display: none;
  }

  .step-1-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-1-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .step-2-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-2-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .step-3-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-3-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .step-4-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-4-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .step-5-info-wrapper {
    flex-direction: column;
    padding: 16px;
  }

  .step-5-info-wrapper.step-5 {
    margin-bottom: 16px;
  }

  .table-caption {
    text-align: center;
  }

  .rl-cta_component {
    text-align: center;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .rl-cta_text-wrapper {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }

  .rl-cta_component-2 {
    text-align: center;
    flex-direction: column;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .paragraph-l {
    font-size: 18px;
  }

  .multi-button-wrapper {
    flex-direction: column;
  }

  .project-title-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-spec-figma-wrap {
    height: 400px;
  }

  .figma-embed-wrapper {
    height: 360px;
  }

  .heading-2-small {
    font-size: 36px;
    line-height: 44px;
  }

  .benefits-icon {
    width: 32px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .fixed-cta {
    padding: 10px 14px;
    font-size: 13px;
    top: 18px;
  }

  .name-arrow {
    width: 56px;
  }

  .name-arrow.adam {
    top: 40px;
    right: 24px;
  }

  .name-arrow.dan {
    top: 40px;
    left: 24px;
  }

  ._4-col-grid {
    grid-template-columns: 1fr;
  }

  .faq-arrow {
    width: 20px;
    margin-top: 10px;
  }

  .project-spec-webflow-wrap {
    height: 400px;
  }

  .icon-image-wrapper {
    align-items: center;
    display: flex;
  }

  .random-facts.dan, .random-facts.adam {
    display: none;
  }

  .profile-photo.dan, .profile-photo.adam {
    margin-top: 48px;
  }

  .circle-blur-bottom-left {
    left: -20%;
  }

  .circle-blur-top-right-2 {
    width: 280px;
    height: 280px;
    right: -20%;
  }

  .project-spec-name {
    margin-bottom: 12px;
    margin-right: 0;
  }

  .personality-description {
    top: 3%;
  }

  .circle-blur-top-left {
    width: 280px;
    height: 280px;
    right: -20%;
  }

  .hero-heading {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .label-arrow.on-t-m {
    top: 40%;
  }

  .circle-blur-top-left-2 {
    width: 280px;
    height: 280px;
    right: -20%;
  }

  .random-fact.adam-fact-1 {
    width: 96.8px;
    top: 20%;
  }

  .random-fact.dan-fact-1 {
    width: 107.2px;
    top: 18%;
    left: 2%;
  }

  .random-fact.dan-fact-2 {
    width: 116.8px;
    top: 18%;
    right: 2%;
  }

  .random-fact.adam-fact-2 {
    width: 96.8px;
    top: 20%;
  }

  .pricing-table {
    padding: 24px 16px;
  }

  .faq-top {
    align-items: flex-start;
  }

  .confirmation-page-subheading {
    font-size: 18px;
  }

  .image-9 {
    width: 32px;
  }

  .image-6 {
    display: none;
  }
}

#w-node-b282fa53-c876-a363-d487-995c7a386309-0063007b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b282fa53-c876-a363-d487-995c7a38632b-0063007b {
  justify-self: end;
}

#w-node-b282fa53-c876-a363-d487-995c7a386331-0063007b {
  align-self: center;
}

#w-node-_30c8d968-55fe-8251-987b-0e377becbfc6-0063007b {
  grid-area: 1 / 3 / 2 / 11;
}

#w-node-b282fa53-c876-a363-d487-995c7a386460-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38646a-0063007b {
  align-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a38646b-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38646c-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38646d-0063007b {
  justify-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a386471-0063007b {
  align-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a386472-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386473-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386474-0063007b {
  justify-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a386476-0063007b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b282fa53-c876-a363-d487-995c7a386478-0063007b {
  align-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a386479-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38647a-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38647b-0063007b {
  justify-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a38647f-0063007b {
  align-self: center;
}

#w-node-b282fa53-c876-a363-d487-995c7a386480-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386481-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386482-0063007b {
  justify-self: center;
}

#w-node-_4fc1dcd0-5de9-92ae-fd78-09d5d6efa273-0063007c {
  justify-self: end;
}

#w-node-_56e3d9d2-042f-1fc0-0f8f-5151adc683a4-0063007d {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_56e3d9d2-042f-1fc0-0f8f-5151adc683a7-0063007d {
  justify-self: end;
}

@media screen and (min-width: 1280px) {
  #w-node-b282fa53-c876-a363-d487-995c7a386309-0063007b {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b282fa53-c876-a363-d487-995c7a38645e-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386468-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38646f-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a386476-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38647d-0063007b, #w-node-b282fa53-c876-a363-d487-995c7a38659e-0063007b {
    justify-self: center;
  }
}


@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/Relative-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}